## Project 1 Hotels Mcnemar Chi-square

### import packages

In [1]:
import pandas as pd
import statsmodels as sm
from statsmodels.stats.contingency_tables import mcnemar

### load data

In [2]:
pd.set_option('display.max_columns', None)

In [4]:
hotels = pd.read_csv('/Users/chercher/Desktop/Entitiy apprenticeship /project 1 hotels/Data/final data/usethis.csv')
hotels

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,res_room_typeR,assn_room_typeR,cust_typeR,res_statusR,hotelR,arrival_date_monthR,mealR,deposit_typeR,market_segmentR,dist_channelR,countryR
0,0,Resort Hotel,0,13,2015,July,29,17,1,2,2,0,0,BB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240,0,Transient,$126.30,0,2,Check-Out,2015-07-20,0,0,2,0,1,6,0,0,0,0,2
1,1,Resort Hotel,1,32,2015,July,29,17,1,2,2,0,0,BB,PRT,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,240,0,Transient,$154.00,0,0,Canceled,2015-06-24,3,3,2,1,1,6,0,0,0,0,1
2,2,Resort Hotel,0,315,2015,July,29,17,1,2,2,0,0,BB,IRL,Offline TA/TO,TA/TO,0,0,0,A,D,0,No Deposit,171,0,Transient,$96.30,0,0,Check-Out,2015-07-20,0,3,2,0,1,6,0,0,1,0,2
3,3,Resort Hotel,0,8,2015,July,29,17,1,2,2,0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,D,0,No Deposit,240,0,Transient,$126.30,0,2,Check-Out,2015-07-20,0,3,2,0,1,6,0,0,0,0,0
4,5,Resort Hotel,0,91,2015,July,29,17,1,2,2,1,0,BB,MOZ,Online TA,TA/TO,0,0,0,A,A,4,No Deposit,240,0,Transient,$118.50,0,3,Check-Out,2015-07-20,0,0,2,0,1,6,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102252,112485,City Hotel,0,23,2017,August,35,30,2,5,2,0,0,BB,BEL,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,394,0,Transient,$96.14,0,0,Check-Out,2017-09-06,0,0,2,0,0,7,0,0,1,0,2
102253,112486,City Hotel,0,102,2017,August,35,31,2,5,3,0,0,BB,FRA,Online TA,TA/TO,0,0,0,E,E,0,No Deposit,9,0,Transient,$225.43,0,2,Check-Out,2017-09-07,4,4,2,0,0,7,0,0,0,0,2
102254,112487,City Hotel,0,34,2017,August,35,31,2,5,2,0,0,BB,DEU,Online TA,TA/TO,0,0,0,D,D,0,No Deposit,9,0,Transient,$157.71,0,4,Check-Out,2017-09-07,3,3,2,0,0,7,0,0,0,0,2
102255,112488,City Hotel,0,109,2017,August,35,31,2,5,2,0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,89,0,Transient,$104.40,0,0,Check-Out,2017-09-07,0,0,2,0,0,7,0,0,0,0,0
102256,112489,City Hotel,0,205,2017,August,35,29,2,7,2,0,0,HB,DEU,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9,0,Transient,$151.20,0,2,Check-Out,2017-09-07,0,0,2,0,0,7,1,0,0,0,2

### set up the question -  Does reservation status and is canceled differ in any way?

#### data wrangling was done ahead of time to recode columns

### make a contingency table for res_statusR 0=checked out, 1= is canceled, 2= No show. For is_canceled 0=not canceled, 1=cancelled

In [5]:
hotels_crosstab = pd.crosstab(hotels['res_statusR'], hotels['is_canceled'])
hotels_crosstab

is_canceled      0      1
res_statusR
0            62113      0
1                0  39148
2                0    996

### test assumptions = run analysis
##### In Python, there is no way to test the assumption of at least five expected per cell, which means that if you are analyzing high stakes data, where accuracy really matters, Python is NOT the program for you to run a McNemar Chi-Square in.

In [6]:
result = sm.stats.contingency_tables.mcnemar(hotels_crosstab, exact=False, correction=True)
print(result)

pvalue      0.0
statistic   inf

/Users/chercher/opt/anaconda3/lib/python3.8/site-packages/statsmodels/stats/contingency_tables.py:1346: RuntimeWarning: divide by zero encountered in double_scalars
  statistic = (np.abs(n1 - n2) - corr)**2 / (1. * (n1 + n2))

### The results are significant - the p value is less than .05, so reservation status and is canceled are highly corrolated. I suspect the results of this test are not good. Instead of a number the statistic is "inf". reservation staus is the question and is_cancelled is a possible answer. this is why they are highly corrolated.

### How do they differ? There is no way to look further into this corrolation because Python does not offer the ability to look at standardized residuals, you can't look at post hocs.

### set up the question - Is the averge daily rate more a the beginning, middle or end of the month?

In [7]:
hotels1_crosstab = pd.crosstab(hotels['adr'], hotels['arrival_date_day_of_month'])
hotels1_crosstab

arrival_date_day_of_month,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
adr,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
$0.00,18,21,31,23,32,26,37,30,29,56,23,28,14,29,21,24,44,24,22,37,35,13,42,28,21,30,22,21,19,32,17
$0.50,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
$1.00,0,3,0,0,0,3,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,2,0,0,0
$1.48,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
$10.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
$99.88,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0,0,2
$99.90,0,2,2,3,3,4,3,1,0,1,0,16,8,0,3,4,4,0,2,11,7,1,6,0,2,4,3,0,1,2,1
$99.95,0,0,1,0,0,0,1,1,1,1,0,0,0,0,0,1,0,0,0,2,0,0,0,1,0,0,0,0,0,0,0
$99.96,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
-$6.38,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### testing assumptions = run analysis

In [8]:
result = sm.stats.contingency_tables.mcnemar(hotels1_crosstab, exact=False, correction=True)
print(result)

TypeError: '<' not supported between instances of 'str' and 'int'